.resultsList {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.resultsContent {
    display: flex;
    align-items: flex-start;
}

.resultsList__container {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 0 30px;
}

.resultsList__url {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.resultsList__title {
    font-size: 25px;
    text-decoration: none;
    cursor:pointer;
}

.resultsList__description {
    font-size: 18px;
    color: #000000;
    width: 70%;
}

.resultsCardContainer {
    margin-top: 30px;
    margin-left: 20px;
    position: fixed;
    right:100px;
}

.modal .resultsCardContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
}

.modal .resultsCardContainer .resultsCard {
    width: 100%;
}

@media (max-width: 767px) {
    .resultsContent {
        flex-direction: column;
    }

    .resultsList__container {
        max-width: 100%;
        padding: 10px;
        margin-bottom: 20px;
    }

    .resultsList__description {
        width: 100%;
    }

    .resultsCardContainer {
        margin: 0;
    }
}