.resultsList {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.resultsContent {
    display: flex;
    align-items: flex-start;

}

.resultsList__container {
    display: inline-block;
    text-align: left;
    max-width: 80%;
    padding: 0px 30px;
}

.resultsList__url {
    font-size: 14px;
    color: #000000;
    text-decoration: none;
}

.resultsList__title {
    font-size: 25px;
    text-decoration: none;
}

.resultsList__description {
    font-size: 18px;
    color: #000000;
    width: 70%;
}

.resultsCardContainer {
    margin-top: 30px;
    margin-left: 20px;

}